<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dhandev.eepa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyElementaryParticleApp">
        <activity
            android:name=".search.SearchActivity"
            android:exported="false"/>
        <activity
            android:name=".asah.MulaiBenarSalahActivity"
            android:exported="false" />
        <activity
            android:name=".addition.dataActivity"
            android:exported="false" />
        <activity
            android:name=".addition.ReferensiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.TampilanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.TentangActivity"
            android:exported="false" />
        <activity
            android:name=".asah.ListActivity"
            android:exported="false" />
        <activity
            android:name=".asah.BenarSalahActivity"
            android:exported="false" />
        <activity
            android:name=".asah.HasilLatihanActivity"
            android:exported="false" />
        <activity
            android:name=".asah.MulaiLatihanActivity"
            android:exported="false" />
        <activity
            android:name=".asah.LatihanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.imageViewer.ImageViewerMateriActivity"
            android:exported="false" />
        <activity
            android:name=".asah.NomorContohActivity"
            android:exported="false" />
        <activity
            android:name=".asah.ContohActivity"
            android:exported="false" />
        <activity
            android:name=".ui.imageViewer.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".onBoarding"
            android:exported="false" />
        <activity
            android:name=".materi.MateriSubatomik"
            android:exported="false" />
        <activity
            android:name=".materi.MateriPengantar"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>